<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"><!-- Añadiendo namespace -->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${titulo}"></title>
</head>
<body>
	
	<h1 th:text="${titulo}" class="text-center"></h1>
	
	<!-- Recibiendo los datos del formulario enviado  -->
	<ul class="list-group">
	  <li th:text="${username}" class="list-group-item"></li>
	  <li th:text="${password}" class="list-group-item"></li>
	  <li th:text="${email}" class="list-group-item"></li>
	</ul>
    
    
    
</body>
</html>